@section styles{
    <link href="~/Content/toastr.css" rel="stylesheet" />
}
@using (Html.BeginForm("SendEmail", "Home"))
{
    <div class="form-group">
        @Html.Label("name", "نام : ")
        @Html.TextBox("name", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("email", "پست الکترونیکی : ")
        @Html.TextBox("email", null, new { @class = "form-control", type = "email" })
    </div>
    <div class="form-group">
        @Html.Label("subject", "موضوع : ")
        @Html.TextBox("subject", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("body", "پیام : ")
        @Html.TextArea("body", null, new { @class = "form-control" })
    </div>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-send"></span>
        ارسال
    </button>
}
@section scripts{
    <script src="~/Scripts/toastr.js"></script>
    <script>
        if (@ViewBag.Status==1) {
            toastr.success("با تشکر از شما ، پیام مدنظر با موفقیت ارسال گردید.", "", {
                "progressBar": true,
                "timeOut": "10000",
                "positionClass": "toast-top-left"
            });
        }
        else {
            toastr.error("متاسفانه پیام شما ارسال نگردید؛ لطفا دوباره تلاش نمایید.", "", {
                "progressBar": true,
                "timeOut": "10000",
                "positionClass": "toast-top-left"
            });
        }
    </script>
}