@model DigiMovei.ViewModels.CustomrForViewModl
@{
    ViewBag.Title = "افزون مشتری";
}

@section styles
{
    
<link href="~/Scripts/PersianDateTimePicker/jquery-ui-datetimepicker.min.css" rel="stylesheet" />
    }




@using (Html.BeginForm())
{

    @ViewBag.message
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name, "نام:")
        @Html.TextBoxFor(c => c.Customer.Name, null, new {@class ="form-control"})
        @*@Html.LabelFor(c=>c.Name,"نام:")
        @Html.TextBoxFor(c => c.Name, null, new {@class ="form-control"})*@

    </div>

    <div class="checkbox">
        @Html.LabelFor(c => c.Customer.IsSubscribedToNewsLetter, "عضو خبرنامه:")
        @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsLetter,new { @class = "pull-right" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.BirthDate, "تاریخ تولد:",new { id= "TxtBirthDate" })
        @Html.TextBoxFor(c => c.Customer.BirthDate, null, new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeID, "نوع عضویت:")
        @Html.DropDownListFor(c => c.Customer.MembershipTypeID, new SelectList(Model.MembershipTypes, "Id","Name"),"لطفا یک گزینه را انتخاب کنید", new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(c => c.Customer.NationalCode, "کدملی:")
        @Html.TextBoxFor(c => c.Customer.NationalCode, null, new { @class = "form-control" })
    </div>


    <button type="submit" class="btn btn-success">
        افزودن
        <span class="glyphicon glyphicon-plus" ></span>

    </button>
    <br />

    <a class="btn btn-default" href="@Url.Action("Index")">
        بازگشت
        <span class="glyphicon glyphicon-share">

        </span>

    </a>

   @section scripts{ 
   
    <script src="~/Scripts/toastr.js"></script>
       <script>
           if (@TempData["CreateState"]==0) {
               toastr.error("مشتری مورد نظر افزوده نگردید", "دیجی مووی", { "progressBar": true, "timeOut": "1000", "positionClass": "toast-top-left" })

           }


       </script>


<script src="~/Content/PersianDateTimePicker/jquery-ui-datetimepicker.min.js"></script>
       <script type="text/javascript">
           $(function () { $("#TxtBirthDate").alert("hi") }
           );
       </script>
}

}



